@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700; 1900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #d9d9d9;
}
.translate{
  background: transparent;
  border:none;
  margin-left: 12px;
  margin-right: 5px;
}
.register-link a{
  color: #fff;
  text-decoration: none;
}
nav{
  list-style-type: none;
}
.navbar{
  width:100% ;
  height:70px ;
  box-shadow:0 4px 10px rgba(0,0,0, .1) ;
}
.navbar .container {
  height:inherit;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.navbarmenu{
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.navbarmenu li{
  display: inline-block;

}
.navbarmenu li a{
  display: inline-block;
  color:rgb(16, 65, 67);
  opacity: 0.6;
  text-decoration: none;
  padding: 10px 20px;
  transition: all .07s ease-in-out;
  font-size: 20px;

}
.navbarmenu li a:hover{
  opacity: 1;
}

.navbar-wrap{
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}
.callback{
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px 30px 10px;
  background-color: #63a18c;
  border-radius: 100px;
  color:aliceblue;
  box-shadow: 0 4px 6px rgb(98, 160, 139);
  transition: all .1s ease-in-out;
  cursor: pointer;

}
.callback:hover{
  transform: scale(1.04);
  box-shadow: 0 9px 9px rgb(98, 160, 139, .5);


}
.navbarlogo{
  font-size: 700px;
  text-decoration: none;
  font-size: 26px;
  color: #6db62e;
  transition: all .07s ease-in-out;
  padding: 100px;
}

.navbarlogo img {
  width: 250px;
}
.navbarlogo:hover {
  color: rgb(42, 101, 0);
}

/* Меню регистрации */

main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.wrapper{
  width: 420px;
  background: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20);
  box-shadow:  0 0 10px rgba(0,0,0, .2);




}
.wrapper h1{
  font-size: 36px;
  text-align: center;
}
.wrapper .input-box{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}
.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
  color: #fff;
}
.input-box i{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.wrapper .remember-forgot{
  display: flex;
  justify-content: space-between;
  font-size: 14.5px;
  margin: -15px 0 15px;
}
.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}
.remember-forgot a{
  color: #fff;
  text-decoration: none;

}
.remember-forgot a:hover{
  text-decoration: underline;
}
.wrapper .btn{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}
.wrapper .register-link{
  font-size: 14.5px;
  text-align: center;
  margin: 20px 0 15px;
}
.register-link p a{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.register-link p a:hover{
  text-decoration: underline;

}
.register-link a:hover{
  text-decoration: underline;
}
a.navbarlogo{
  text-align: center;
}
.test{
  margin-right: 115px;
}
/* Чекбокс кастомка */

.check__input{
  display: none;
}

/* Главная страница */

main{
  display: flex;
  flex-flow: nowrap ;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  min-height: 38vh;
  padding: 20px;
}
.test {
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  margin: .5rem;
  padding: 22px;
  box-shadow:  0 0 10px rgba(0,0,0, .2);
  font-size: 20px;
}

.test:nth-child(1) {
  width: 20%;
}

.test:nth-child(2) {
  min-height: 20px;
  border: 1px solid #ededed;
}

.test h2{
font-size: 28px;
margin-bottom: 9px;
color: #797474;
}


.coursebox{
  margin-bottom: 15px;
  border: 1px dotted #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 9px;
  width: 52rem;
}

.coursebox a{
color: #63a18c;
transition: all .07s ease-in-out;
text-decoration: none;
}
.coursebox a:hover{
  color: #4b7c6c;
  text-decoration: underline;
  }
  .coursebox h3{
    font-size: 24px;
  }
  .coursebox li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Календарь */

.look-calendar {
  width:220px;
  border:1px solid #c0c0c0;
  padding:6px;
  margin: 0 auto;    
}
#calendar {
  width: 100%;
  line-height: 1.2em;
  font-size: 15px;
  text-align: center;
  border-spacing: 0;
}
#calendar tr.dn td {
  font-size: 15px;
}
#calendar thead tr:last-child {
  font-size: small;
  color: #555555;
}
#calendar thead tr:nth-child(1) td:nth-child(2) {
  color: #323232;
}
#calendar thead tr:nth-child(1) td:nth-child(1):hover,
#calendar thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar tbody td {
  color: #2c567a;
}
#calendar tbody td:nth-child(n+6),
#calendar .holiday {
  color: #e78c5c;
}
#calendar tbody td.today {
  background: #dc0000;
  color: #fff;
}

.navilist {
  list-style-type: square;
  padding-left: 20px;
  color: black;
}

.navilist li {
  padding: 3px 0;
}

.navilist a {
  text-decoration: none;
  color: #63a18c;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.show {
  display:block;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 150px; /* Высота футера */
  width: 100%;
  text-align: center;
  opacity: 0.8;
}
footer a{
  color: rgb(16, 65, 67);
}
